<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <section name="SitesSection" type="EbayCrawlerWPF.AppConfig.SitesSection,EbayCrawlerWPF" />
    </configSections>
  <SitesSection>
    <Sites>
      <Site Name="EbayCoUk"
            EndingSoonest=        "https://www.ebay.co.uk/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=1&amp;_pgn=1"
            NewlyListed=          "https://www.ebay.co.uk/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=10&amp;_pgn=1"
            BestMatch=            "https://www.ebay.co.uk/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=12&amp;_pgn=1"
            HighestPriceTransport="https://www.ebay.co.uk/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=16&amp;_pgn=1"
            LowestPriceTransport= "https://www.ebay.co.uk/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=15&amp;_pgn=1"
            NearestFirst=         "https://www.ebay.co.uk/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=7&amp;_pgn=1"
            KW="warhammer"/>
      <Site Name="EbayCom"
            EndingSoonest=        "https://www.ebay.com/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=1&amp;_pgn=1"
            NewlyListed=          "https://www.ebay.com/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=10&amp;_pgn=1"
            BestMatch=            "https://www.ebay.com/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=12&amp;_pgn=1"
            HighestPriceTransport="https://www.ebay.com/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=16&amp;_pgn=1"
            LowestPriceTransport= "https://www.ebay.com/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=15&amp;_pgn=1"
            NearestFirst=         "https://www.ebay.com/sch/i.html?_from=R40&amp;_nkw=warhammer&amp;_sacat=0&amp;_sop=7&amp;_pgn=1"
            KW="warhammer"/> 
      <Site Name="EbayBe"
            NewlyListed="https://www.benl.ebay.be/sch/i.html?_from=R40&amp;_sacat=0&amp;_nkw=warhammer&amp;_sop=10&amp;_pgn=1"
            EndingSoonest="https://www.benl.ebay.be/sch/i.html?_from=R40&amp;_sacat=0&amp;_nkw=warhammer&amp;_sop=1&amp;_pgn=1"
            BestMatch="https://www.benl.ebay.be/sch/i.html?_from=R40&amp;_sacat=0&amp;_nkw=warhammer&amp;_sop=12&amp;_pgn=1"
            HighestPriceTransport="https://www.benl.ebay.be/sch/i.html?_from=R40&amp;_sacat=0&amp;_nkw=warhammer&amp;_sop=16&amp;_pgn=1"
            HighestPrice="https://www.benl.ebay.be/sch/i.html?_from=R40&amp;_sacat=0&amp;_nkw=warhammer&amp;_sop=3&amp;_pgn=1"
            LowestPriceTransport="https://www.benl.ebay.be/sch/i.html?_from=R40&amp;_sacat=0&amp;_nkw=warhammer&amp;_sop=15&amp;_pgn=1"
            LowestPrice="https://www.benl.ebay.be/sch/i.html?_from=R40&amp;_sacat=0&amp;_nkw=warhammer&amp;_sop=2&amp;_pgn=1"
            SecondUse="https://www.benl.ebay.be/sch/i.html?_from=R40&amp;_sacat=0&amp;_nkw=warhammer&amp;_sop=19&amp;_pgn=1"
            NearestFirst="https://www.benl.ebay.be/sch/i.html?_from=R40&amp;_sacat=0&amp;_nkw=warhammer&amp;_sop=7&amp;_pgn=1"
            KW="warhammer"/>
    </Sites>
  </SitesSection>
</configuration>

<!--
      <Site Name="EbayCom"
            NewlyListed=          "https://www.ebay.com/sch/i.html?_from=R40&amp;_nkw=warhammer+book&amp;_sacat=0&amp;_sop=10&amp;page=1"
            KW="warhammer book"/>
      -->